/* DiagonalDiv.css */
.all-div {
    background: url('../imgs/escola-rio-preto.png') no-repeat center center fixed; /* Modificado aqui */
    background-size: cover;
}

.top-div {
    position: relative;
    height: 300px;
    text-align: center;
    color: white;
}

.bottom-div {
    position: relative;
    height: 300px;
    text-align: center;
    color: white;
}

.bottom-div::before {
    content: '';
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100
}
