.main-card {
background-color: #9c8e79;
color: antiquewhite;
border: none;
}

.sub-card {
    background-color: antiquewhite;
    color: #9c8e79;
}

.foto-perfil {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}