.gift-container {
    display: flex;
    flex-wrap: wrap; /* Adiciona quebra de linha */
    padding: 10px;
    gap: 10px; /* Espaço entre os cards */
    justify-content: center; /* Centraliza os cards */
    align-items: center;
}

.gift-card {
    flex: 0 1 calc(33% - 20px); /* Cada card terá 1/3 da largura do contêiner menos o gap */
    margin-bottom: 10px; /* Espaço abaixo de cada card */
    margin-right: 10px;
    display: flex;
    flex-direction: column; /* Orientação dos itens dentro do card */
    align-items: center;
    padding: 5px;
    border-bottom: none; /* Removido pois pode ser desnecessário com o novo estilo */
}

.gift-foto {
    width: 80px;
    height: 80px; /* Adicionado para manter aspecto circular */
    border-radius: 5%;
    object-fit: cover;
    margin-bottom: 5px; /* Espaço abaixo da foto */
}

.gift-card:hover {
    cursor: pointer;
    transform: scale(1.02); /* Corrigido para a propriedade transform */
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2); /* Adicionado sombra */
}

.gift-body {
    width: 100%; /* Ajustado para preencher o card */
    display: flex;
    flex-direction: column; /* Orientação dos itens */
    align-items: center;
    justify-content: center;
}

.gift-title, .gift-value {
    text-align: center; /* Centraliza o texto */
    font-size: 0.9rem;
    margin: 5px 0; /* Adiciona espaço entre título e valor */
}

.gift-title {
    font-weight: bold;
}
