/*eloswebapp/src/components/resources/Common/PrivateRoute/index.module.css*/
.outletContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espaçamento entre os cards */
    justify-content: flex-start; /* Alinhamento dos cards à esquerda */
  }
  
  .menu-card {
    background-color: #262626; /* Dark background for the menu */
    color: white; /* White text color */
    border: none; /* Remove card border */
}

.menu-card .list-group-item {
    color: white; /* White text color for list items */
    border: none; /* Remove borders from list items */
    padding: 12px 20px; /* Top/bottom and left/right padding */
    background-color: transparent; /* Transparent background for list items */
}

.menu-card .list-group-item:hover {
    background-color: #333333; /* Slightly lighter background for hover */
}

.menu-card .list-group-item.active {
    background-color: #ff5000; /* Highlight color for the active item */
    color: white;
}

.icon {
    margin-right: 20px; /* Space between icon and text */
    font-size: 2em; /* Slightly larger icons */
}
