.profile-card {
    border-radius: 5px;
    overflow: hidden;
    background-color: #9C8E79;
}

.profile-card-left, .profile-card-right {
    padding: 20px;
}

.profile-card-right {
    background-color: antiquewhite;
    border-radius: 5px;
}
.text-alert {
    font-size: 0.8rem;
}

.profile-description {
    text-align: left;
    border-radius: 5px;
    background-color: rgb(250, 242, 232);
    overflow: hidden;
    padding: 10px;
}

.profile-image-bg {
    width: 150px !important;
    height: 150px !important;
    object-fit: cover !important;
    border: 5px solid white !important;
    border-radius: 50% !important;
}

.card-title {
    border-bottom: 1px solid #e9ecef;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.mx-2 {
    margin: 0 0.5rem;
}

.text-center-social {
    text-align: center;
}

.text-center, .text-muted {
    color: antiquewhite;
}