
.profile-card {
    /* Styles to match the card with the sidebar */
    border: none;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1); /* Add shadow to lift the card off the page */
    border-radius: 8px; /* Round the corners if necessary */
    background-color: #9d8e7a;
}


.profile-image-bg {
   width: 100px;
   height: 100px; 
   box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

}

.profile-header {
    /* Styles for the card header to match sidebar title */
    background-color: #f0f0f0; /* Example background color */
    color: #333; /* Text color */
    font-size: 1.2em;
    border-bottom: none;
}

.profile-body {
    border: none;
    border-radius: 8px; /* Round the corners if necessary */
    box-shadow: 0 1px 2px rgba(0,0,0,0.1); /* Add shadow to lift the card off the page */

}

.card-body-profile {
    background-color: antiquewhite;
}

.profile-image-preview {
    margin: 10px;
}