
.status-bar,
.status-history {
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
    font-size: 16px;
  }
  
  .led {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
    animation: pulse 2s infinite ease-in-out;
    transition: background-color 0.5s ease-in-out; /* Torna a transição entre cores mais suave */
  }
  
  @keyframes pulse {
    0%, 100% {
      opacity: 1;
      filter: brightness(100%);
    }

    50% {
      opacity: 0.7; /* Ajuste para um valor menor para uma pulsação mais sutil */
      filter: brightness(150%);
    }

    75% {
        opacity: 0.5; /* Ajuste para um valor menor para uma pulsação mais suave */
        filter: brightness(200%);
      }

      100% {
        opacity: 0.3; /* Ajuste para um valor menor para uma pulsação mais suave */
        filter: brightness(250%);
      }
  }
  
  /* Cores dos LEDs ajustadas para incluir transição e animação */
  .led-verde {
    background-color: green;
    animation: pulse 2s infinite ease-in-out;
  }
  
  .led-laranja {
    background-color: orange;
    animation: pulse 2s infinite ease-in-out;
  }
  
  .led-azul {
    background-color: blue;
    animation: pulse 2s infinite ease-in-out;
  }
  
  /* Mantém as cores de fundo das status bar como estavam */
  .status-verde {
    background-color: #004d00;
  }
  
  .status-laranja {
    background-color: #cc8400;
  }
  
  .status-azul {
    background-color: #003366;
  }
  