.mensagem-enviada {
    text-align: right;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: 'right';
  
  }

.mensagem-enviada .mensagem-conteudo {
  border-right: 1px solid #9bb1ee;
}

.mensagem-recebida .mensagem-conteudo {
  border-left: 1px solid #c0bff7;
}

.mensagem-recebida .mensagem-conteudo {
    opacity: 90%;
    
}
  .mensagem-recebida {
    text-align: left;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
margin: '10px';
text-align: 'left';

  }
  
  .mensagem-cabecalho {
    display: flex;
    align-items: center;
    width: 100%;  
    margin-right: 5px;/* Opcional: garante que a barra ocupe todo o espaço disponível */
}

  .mensagem-enviada .mensagem-cabecalho {
    justify-content: flex-end; 
   /* Alinha o conteúdo à direita */
}

.mensagem-recebida .mensagem-cabecalho {
    justify-content: flex-start; /* Alinha o conteúdo à esquerda */
}
  
  .mensagem-foto {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .mensagem-info .mensagem-nome {
    font-weight: bold;
  }
  
  .mensagem-conteudo {
    padding: 10px;
  }

  .lista-de-mensagens {
    padding: 5px;
    margin: 5px;
  }

  .mensagem-card {
    height: auto;
  }

  .mensagem-nome {
    display: block;
  }
  
 .audio-preview,
 .image-preview,
 .video-preview {
   height: auto;
 
   margin-bottom: 10px;
   margin: 10px;
 }

 .mensagem-nova-indicador {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
}


.mensagem-nova {
  border-left: 5px solid red;
}


.has-unread-messages {
  position: relative;
}

.unread-indicator {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 10px;
  width: 10px;
  background-color: red;
  border-radius: 50%;
}
